.banner1 {
    height: 30vw;
    width: 99vw;
}
 
.artigos {
    font-style: italic;
    display: flex;
    flex-direction: initial;
    flex-wrap: wrap;
    font-size: 20px;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    list-style: none;
}

.artigo {
    width: 100vw;
    padding: 0;
    margin: 0%;
    color: #545454
}

.artigo {
    display: flex;
    background-color: rgb(187, 160, 160);
    flex-direction: column;
    border-style: outset;
    border-radius: 30px;
    width: 300px;
    height: 400px;
    padding: 0.5em;
    margin-bottom: 20px;
}

.imagem-artigo {
    width: 100%;
    border-radius: 30px;
}

.div-slider {
    display: block;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.slides-front {
    color: #cd3636;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-direction:column;
    display:grid;
    list-style: none;
    font-size: 30px;
    align-items:center;
} 

.slides-front {
    padding: 1px;
    width: 100%;
     width: 800px;
    height: 400px;
    display: flex; 
    margin: auto; 
    position: relative;
}

.slides-front {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides-front input {
    display: none;
}

.slide-container {
    display: block;
}

.slide {
    top: 2%;
    opacity: 0;
    width: 800px;
    height: 400px;
    display: flex;
    position: absolute;
    transition: all .7s ease-in-out 0.1s;
}

.slide img {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-flex;
    right: 400px;
    padding:1em;
}

.nav label {
    width: 100px;
    height: 100%;
    display: flex;
    position:center;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    transition: opacity .2s;
    color: #f4eded;
    font-size: 10pt;
    text-align:left;
    line-height: 200px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover+.nav label {
    opacity: 0.5;
}

.nav label:hover {
    opacity: 1;
}

.nav .next {
    right: 0;
}

input:checked+.slide-container .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out 0.1s;
}

input:checked+.slide-container .nav label {
    display: flex;
}



.nav-dots {
    left: 500px;
     width: 100%; 
    bottom: 100px; 
    display: flex;
     position:sticky; 
     text-align:center; 
}

.nav-dots .nav-dot {
    top:375px;
    width: 10px;
    height: 9px;
    margin: 3px;
    left: 300px;
    right: 10px;
    padding: 0px;
    position: relative;
    border-radius: 100%;
    background-color: rgba(1, 0, 0.6);
}

.nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(300, 49, 49, 0.8);
}

.video video {
    display: inline-block;
    background-color: rgb(187, 160, 160);
    flex-direction:row;
    border-style: outset;
    border-radius: 30px;
    width: 800px;
    height: 400px;
    margin-bottom: 20px;
    position: sticky;
    ;
}
