main div{
    display: flex;
}

#artigo{
    margin-left: 5%;
    width: 70%;
    color:#272727
}

#artigo img{
    width: 50%;
    display: block;
    margin: 3% auto;
}

#artigo i{
    color: #BF1B2C;
    margin-right: 0.2%;
}

time{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#titulo{
    margin-top: 4%;
    text-align: center;
    font-size: 200%;
}

h2{
    margin: 4% 0;
    text-align: justify;
}

span{
    color: #BF1B2C;
}

.lista1 li, .paragrafo{
    margin: 3% 5%;
    text-align: justify;
    font-size: 120%;
}

.lista2 li{
    font-size: 100%
}

.redes{
    margin-left: 5%;
    margin-bottom: 5%;
    font-size: 200%;
}

#compartilhar{
    margin-top: 5%;
}

#mais-lidos{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    position: fixed;
    width: 20%;
    right: 0;
    border: 2px dashed #BF1B2C;
    border-radius: 10px;
    margin: 2%;
    padding: 1%;
}

#mais-lidos div{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#mais-lidos div img{
    width: 60%;
}

#mais-lidos div a{
    text-decoration: none;
    color: #272727;
}

#mais-lidos div a:hover{
    color: #BF1B2C;
}