.formulario {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titulo {
    text-align: center;
    background-color: #BF1B2C;
    color: #fff;
    padding: 20px;
    margin-top: 0;
}

form {
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 25px;
    border:2px solid #BF1B2C;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select,
input[type="tel"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select {
    height: 36px;
}

textarea {
    resize: vertical;
}

.imagem {
    width: 500px;
}

input[type="submit"] {
    background-color: #BF1B2C;
    color: white;
    padding: 1rem 2rem;
    border-radius: 1.2rem;
    font-size: 18px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #BF1B2C;
    font-size: 20px;
}
