.perguntas {
    color: #c03c3c;
}

main h1 {
    text-align: center;
    background-color: #BF1B2C;
    color: #fff;
    padding: 20px;
    margin-top: 0;
}

.perguntas {
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.perguntas button {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    font: 400 1.125rem/1.35 'Maven Pro', sans-serif;
    font-weight: 600;
}

.perguntas button::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 8px;
    background-color: #BF1B2C;
}

.perguntas button::after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 6px;
    background: url(../assets/imagens/seta-abrir.svg);
    transition: 0.3s;
}

.perguntas button:hover::after,
.perguntas button[aria-expanded="true"]::after {
    transform: rotate(180deg);
}

.perguntas dd {
    display: none;
}

.perguntas dd.ativa {
    display: block;
}

.perguntas dd {
    padding-top: 16px;
}

.perguntas .botao {
    background-color: #BF1B2C;
    color: white;
    padding: 1rem;
    border-radius: 1.2rem;
    margin-bottom: 48px;
}

/*MODAL*/
.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, 0.7);
    transition: all 0.4s;
    position: fixed;
    z-index: 101;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal h1 {
    text-align: center;
    margin: 16px;
}

.modal p {
    margin-bottom: 16px;
}

.modal form {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
}

form label,
form input {
    display: block;
}

form .nome {
    grid-column: 1;
}

form .sobrenome {
    grid-column: 2;
}

.nome input,
.sobrenome input,
.email input,
.texto-pergunta textarea {
    width: 100%;
}

form .email,
form .texto-pergunta {
    grid-column: span 2;
}

.modal-content {
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
}

.modal-footer {
    text-align: right;
    margin-top: 30px;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #bfbfbf;
    text-decoration: none;
}

.modal-btn-enviar {
    width: 150px;
    padding: 10px;
    text-decoration: none;
    background-color: #BF1B2C;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
}

.modal-btn-close {
    width: 150px;
    padding: 10px;
    text-decoration: none;
    background-color: #bfbfbf;
    color: #000000;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
}

/* Estilos dinâmicos */
.required-popup::after {
    content: "*Campo obrigatório";
    color: #DFDFDF;
    font-size: .65rem;
    padding: .2rem .3rem;
    width: 50%;
    background-color: #202020;
}

input.error, textarea.error  {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
}

input.correct, textarea.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
}

.helper-text {
    display: none;
    font-size: .8rem;
    color: darkred;
    margin-top: 2px;
  }

.visible {
    display: block;
}

.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#BF1B2C;
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
    display: none;
    z-index: 1000;
}

.custom-alert-content {
    font-size: 18px;
}

.custom-alert-show {
    display: block;
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
