
/*GERAL*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Maven Pro', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/*HEADER*/
header {
    background-color: rgb(250, 241, 247);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    top: 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 1em;
}

header nav a img {
    width: 40%;
    display: flex;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    font-size: 20px;
    align-items: center;
}

header li {
    margin-left: 2em;
}

header ul li a:hover {
    font-weight: 600;
}

header a {
    color: #BF1B2C;
    text-decoration: none;
}
/*BODY*/

main h1 {
    text-align: center;
    background-color: #d9534f;
    color: #fff;
    padding: 20px;
    margin-top: 0;
}

.perguntas {
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    
}

.perguntas button {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    font: 400 1.125rem/1.35 'Maven Pro', sans-serif;
    font-weight: 600;
}

.perguntas button::after{
    content: "";
    display: inline-block;
    width: 14px;
    height: 6px;
    background: url(../imagens/seta-abrir.svg);
    transition: 0.3s;
}

.perguntas button:hover::after,
.perguntas button[aria-expanded="true"]::after {
    transform: rotate(180deg);
}

.perguntas dd {
    display: none;
}

.perguntas dd.ativa {
    display: block;
}

.perguntas dd {
    padding-top: 16px;
}

/*FOOTER*/
footer {
    background-color:#BF1B2C;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.container {
    box-sizing: border-box;
    max-width: 1200px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
}

footer h1 {
    color: #fff;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer ul {
    list-style: none;
    font-size: 20px;
}

footer li {
    margin-top: 8px;
}

.navegacao {
    grid-row: span 2;
    align-content: start;
}

.sobre {
    grid-row: span 1;
}

.social {
    grid-column: 2;
    grid-row: 2;
}

.social ul{
    grid-column: 2;
    align-content: start;
    display: flex;
    gap: 24px;
}

.social li {
    flex-wrap: wrap;
}

.qr-code {
    grid-row: span 2;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.qr-code img {
    width: 40%;
}

.qr-code h3 {
    color: #fff;
}
.direitos {
    text-align: center;
    padding: 8px;
    background-color: #fff;
}