.banner1 {
    width: 100vw;
}

#artigos {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    margin-bottom: 3rem;
}

#titulo {
    margin: 1% 4% 0%;
    font-size: 200%;
    color: #545454
}

hr {
    color: #BF1B2C;
    width: 15%;
    margin: 1% 4.2% 0;
    border-top: 6px solid #BF1B2C;
}

.artigos {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
    margin-top: 2%;
    color: #545454
}

.artigo {
    display: flex;
    flex-direction: column;
    border: 0.2px solid #545454;
    border-radius: 2px;
    width: 20rem;
    margin: 0 2%;
    font-size: 90%;
}

.imagem-artigo {
    width: 100%;
}

.artigo h2,
.artigo p {
    padding: 0.5rem
}

.data-e-botao {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    padding: 2rem 0.5rem 0.2rem;
}

.data-e-botao i {
    color: #BF1B2C
}

.data-e-botao i time {
    color: #545454;
    font-weight: 600;
    margin-left: 0.4rem;
}

.data-e-botao a {
    font-weight: 600;
}

.ver-todos {
    background-color: #BF1B2C;
    color: white;
    display: inline-block;
    margin: 0 auto;
    width: max-content;
    padding: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    margin-top: 2rem;
}

#depoimentos {
    height: 87vh;
    background-color: #BF1B2C;
    text-align: center;
    justify-content: center;
    color: white;
}

#depoimentos h3 {
    padding-top: 8%;
    padding-bottom: 5%;
    font-size: 200%;
}

#depoimentos>div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#depoimentos img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10rem;
    margin-right: 3rem;
}

.icone-esquerdo {
    font-size: 400%;
    margin-right: 3rem;
}

.texto {
    margin-bottom: 2rem;
    font-size: 120%;
    font-style: oblique;
}

.icone-direito {
    font-size: 400%;
    margin-right: 10rem;
    margin-left: 3rem;
}

#icones-slider {
    margin-top: 8%;
    font-size: 60%;
    margin-left: 46%;
    margin-right: 46%;
}

.registro{
    height: 87vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#545454;
}

.registro div{
    margin-left: 10%;
}

.registro div h2{
    margin-bottom: 2rem;
}

.registro div a{
    background-color: #BF1B2C;
    color: white;
    padding: 1rem;
    border-radius: 1.2rem;
}

.registro img{
    width: 30%;
    margin-right: 10%;
}