/* Estilos dinâmicos */
.required-popup::after {
    content: "*Campo obrigatório";
    color: #DFDFDF;
    font-size: .65rem;
    padding: .2rem .3rem;
    width: 50%;
    background-color: #202020;
}

input.error, textarea.error  {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
}

input.correct, textarea.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
}

.helper-text {
    display: none;
    font-size: .8rem;
    color: darkred;
    margin-top: 2px;
  }

.visible {
    display: block;
}

.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#BF1B2C;
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
    display: none;
    z-index: 1000;
}

.custom-alert-content {
    font-size: 18px;
}

.custom-alert-show {
    display: block;
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
